/* FUNCTION > TIME INDICATORS BASED ON THE TIME OF DAY, THIS TELLS THE USER IF THE TASK IS OVERDUE, CURRENT, OR UPCOMING BASED ON THE HOUR*/
.past {
    background-color: lightcoral;
    color: black;
}
.present {
    background-color: lightgoldenrodyellow;
    color: black;
}
.future {
    background-color: lightgreen;
    color: black;
}